<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ani.mapper.AdoptionMapper">
	
	<!-- 입양신청 -->
	<insert id="insertAdoption" parameterType="Adoption" useGeneratedKeys="true" 
		keyColumn="adoptionno" keyProperty="adoptionno">
	INSERT INTO ADOPTION (
		ADOPTIONNO, MEMBERNO, PHONE, ADDRESS,ADDRESSDETAIL, POSTCODE, REASON, ANINO
	) 
	VALUES (
		ADOPTION_SEQUENCE.NEXTVAL,#{memberno} ,#{phone},#{address},#{addressDetail},#{postcode},#{reason},#{anino}
	)
	</insert>
	
	<!-- 입양목록  -->
	
	
	 
	 <select id="selectAdoptioinListByAnino">
	 SELECT * FROM ADOPTION WHERE ANINO = #{anino}
	 </select>
	
	 <select id="selectAdoptioinListByMemberno">
	 SELECT * FROM ADOPTION WHERE MEMBERNO = #{memberno}
	 </select>
	 
	 <select id="selectAdoptionCountByAnino">
	 SELECT count(*) FROM ADOPTION WHERE ANINO = #{anino}
	 </select>
	 
	 <select id="selectAdoptionCountByMemberno">
	 SELECT count(*) FROM ADOPTION WHERE MEMBERNO = #{memberno}
	 </select>
	 
	 
	
	<select id="selectAniCount" resultType="int">
	SELECT count(anino) FROM ANI
	</select>
	
	
	
	
	<select id="selectAniListByParam" resultType="Ani">
	SELECT * FROM (SELECT ANINO, ANINAME, ANIGENDER,ANIBREED, ANIBIRTH, ANI.SPECIESNO, SPECIESNAME,NEUTER, ROWNUM as rn
	FROM ANI INNER JOIN SPECIES ON ANI.SPECIESNO = SPECIES.SPECIESNO  
	ORDER BY ANINO DESC) WHERE rn>=#{start} AND rn<![CDATA[<]]>=#{end}
	</select>
	
</mapper>