<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ani.mapper.MyPageMapper">
	
	<insert id="insertmypage" parameterType="MyPage" useGeneratedKeys="true" 
		keyColumn="mypageNo" keyProperty="mypageNo">
		INSERT INTO MYPAGE (MYPAGENO, MEMBERNO, MYPAGEDEL, MYPAGECONTENT, MYPAGETITLE) 
		VALUES (MYPAGE_SEQUENCE.NEXTVAL, 0, 1, #{mypageContent}, #{mypageTitle} )
	</insert>
	
	<select id ="selectMyPageList" parameterType="hashmap" resultType="MyPage">
		SELECT MYPAGENO, MEMBERNO, MYPAGEDEL, MYPAGECONTENT, MYPAGEDATE,MYPAGETITLE
		FROM MYPAGE
		ORDER BY MYPAGENO DESC
	</select>
	
	<select id ="selectMypageBymypageNo" parameterType="int" resultType="MyPage">
		SELECT MYPAGENO, MYPAGEDEL, MEMBERNO, MYPAGECONTENT, MYPAGEDATE, MYPAGETITLE
		FROM MYPAGE
		WHERE MYPAGENO = #{mypageNo}
	</select>
	
	<update id="updatemypage" parameterType="MyPage" >
		UPDATE MYPAGE 
		SET MYPAGETITLE = #{mypageTitle}, MYPAGECONTENT = #{mypageContent}
		WHERE MYPAGENO = #{mypageNo}
	</update>
	
	<update id="deletemypage" parameterType="MyPage" >
		UPDATE MYPAGE  
		SET MYPAGEDEL = 0
		WHERE MYPAGENO = #{ mypageNo }
	</update>
	
	<select id ="getMyProfile" parameterType="int" resultType="Member">
		SELECT NICKNAME, USERTYPE, ID, NAME, BREEDS
		FROM MEMBER
		WHERE MEMBERNO = 0
	</select>
	
	<select id ="getDonationAniList" parameterType="int" resultType="Ani">
		SELECT ANT.ANISAVENAME, A.ANINO, A.ANINAME, A.ANIBIRTH, A.SITE, A.ANIINFO, A.ANIBREED, A.ANIGENDER, D.DOAMOUNT
		FROM ANI A, DONATION D, ANIATTACH ANT, 
		WHERE A.ANINO = D.ANINO AND A.ANINO = ANT.ANINO AND D.ANINO = ANT.ANINO AND MEMBERNO = 0
	</select>
	
	<select id ="getInterestAniList" parameterType="int" resultType="Ani">
		SELECT DISTINCT A.ANINAME
		FROM ANI A, INTERESTANI ITN
		WHERE A.ANINO = ITN.ANINO AND A.MEMBERNO = ITN.MEMBERNO
	</select>
	


</mapper>