
#logo {
	height: 120px;
}

.navbar {
	margin-top: 40px;
	margin-bottom: 0px;
}

#formLogin  {
	padding: 15px;
	min-width: 300px;
}

#userInfoDiv {
	padding: 15px;
	min-width : 225px;
	min-height : 165px;
}

.forgot-password {
	color: rgb(104, 145, 162);
}

.forgot-password:hover, .forgot-password:active, .forgot-password:focus
	{
	color: rgb(12, 97, 33);
}

body {
	padding-bottom: 150px;
}