<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>

    <typeAliases>
		<typeAlias alias="Ani" type="com.ani.dto.Ani"/> 
		<typeAlias alias="AniAttach" type="com.ani.dto.AniAttach"/>
		<typeAlias alias="Adoption" type="com.ani.dto.Adoption"/>
		<typeAlias alias="MyPage" type="com.ani.dto.MyPage"/> 
		
	</typeAliases>
	
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="com/ani/mapper/anim-mapper.xml" />
		<mapper resource="com/ani/mapper/adoption-mapper.xml" />  
		<mapper resource="com/ani/mapper/mypage-mapper.xml" /> 		
	</mappers>
	
</configuration>